<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css2?family=Dongle&display=swap" rel="stylesheet">
    <title>index</title>
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/index.css" />
</head>
<body>
    <div class="post-list">
        <div class="post-list-info">
            <span>sayya</span>
            <span>2024-03-01</span>
        </div>
        <div class="post-list-content">
            <span>여기에 제목이 들어가면 됩니당!</span>
            <button type="button" onclick="getPostLists(1,10)">누르기</button>
        </div>
        <div id="post">

        </div>
    </div>
</body>
<script>
    function getPostLists(currentPage,pageSize) {
        const url = 'http://localhost:8080/api/post';
        fetch(url)
            .then(response => {
                return response.json();
            })
            .then(data => {
                console.log(data);
                for (let i =0; i < data.size(); i++) {
                    document.getElementById('post').appendChild()
                }
            })
            .catch(error => {
                console.error('오류 발생:', error);
            });
    }
</script>
</html>